#blue {background-color:blue;}
#powderblue {background-color:powderblue;}
#yellow {background-color:yellow;}
#pink {background-color:pink;}
#purple{background-color:#cc00cc;}
#orenge{background-color:#ffa31a;}
#red{background-color:red;}
#lightgreen{background-color:#00e600;}
